
# 環境変数

.env
.env.*


# Rails（backend）

/backend/log/*
/backend/tmp/*
/backend/storage/*
/backend/node_modules
/backend/config/master.key

# Next.js（frontend）
/frontend/node_modules
/frontend/dist
/frontend/.next/
/frontend/out/

# Rails build artifacts
/backend/.next/

# OS / エディタ
.DS_Store
.vscode/*